<ion-header >
    <ion-navbar color="primary">
      <ion-title >
        Employee Profile
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content align = "Center" padding="true">
    <b> Employee Information </b><br><br>
    
 
 <ion-thumbnail item-start *ngIf="!isShop">
   <img class = "useravat" src="http://res.cloudinary.com/dhglhpsmu/image/upload/c_scale,w_166/v1524171287/man.png">
 </ion-thumbnail>
 <ion-thumbnail item-start *ngIf="isShop">
  <img class = "useravat" src="https://cdn1.iconfinder.com/data/icons/business-items/512/market_store_local_shop_cafe_commerce_retail_shopping_grocery_facade_fastfood_small_building_flat_design_icon-512.png">
</ion-thumbnail>
 <br><br>
 <span class="empInfoWrapper" *ngFor="let user of userInfo" >
 <h2 class="name" >{{user.name}} </h2>
 <span>
   <b> {{ user.role }} </b><br>
   Ratings:{{ user.ratings }}   <br>
   {{ user.nearTown}}  <br>
   Contact Number : {{ user.telephone }} 
 </span>
<br>
<button *ngIf="!isFromJob" ion-button icon-start (click)="toRatePage()">
  <ion-icon name="star-half"></ion-icon>
  Give Feedback
</button>
<button  ion-button icon-start (click)="toMapPage()">
  <ion-icon name="map"></ion-icon>
 See On Map
</button>
<div *ngIf="!isFromJob"> 
<button *ngIf="!isShop" ion-button (click)="toWorkPage()" >
  <ion-icon name="star-half"></ion-icon>
  Send a Work Request  
</button>
</div>
<div *ngIf="!isFromJob"> 
    <button *ngIf="isShop" ion-button (click)="toReqOrederPage()" >
      <ion-icon name="star-half"></ion-icon>
       Request a Order 
    </button>
    </div>
</span>
<br><br>
<b>Feed Backs By Users </b>
<br><br>
<ion-list>
  <ion-item class="singleFeedback" *ngFor="let feedback of feedbacks">
    {{feedback.feedback}} <br>
   <span> {{feedback.ratePoint}}/10 </span> <br>
   <span> by {{feedback.userName}} </span>     
  </ion-item>
</ion-list>
<!-- <form align="center">
    <ion-item>
        <ion-textarea placeholder="Give Me Your Review!!"></ion-textarea>
      </ion-item>
</form> -->
   </ion-content>