<ion-header >
        <ion-navbar color="primary">
          <ion-title >
            Employee Profile
          </ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content align = "Center" padding="true">
        <b> Shop Information </b><br><br>
        
     
     <ion-thumbnail item-start>
       <img class = "useravat" src="https://cdn1.iconfinder.com/data/icons/business-items/512/market_store_local_shop_cafe_commerce_retail_shopping_grocery_facade_fastfood_small_building_flat_design_icon-512.png">
     </ion-thumbnail>
     <br><br><br>
     <span *ngFor="let shop of shopInfo">
     <h2 class="name" > {{ shop.name }} </h2>
     <span>
       <b> {{ shop.shopType }} </b><br>

       {{shop.nearTown}}  <br>
       Contact Number : {{ shop.telephone }}
     </span>
    <br>
  </span>
  <br><br>
  <button ion-button >
    Send Order Request  
  </button>
  <button *ngIf="!isFromJob" ion-button icon-start (click)="toRatePage()">
    <ion-icon name="star-half"></ion-icon>
    Give Feedback
  </button>
    
    <!-- <form align="center">
        <ion-item>
            <ion-textarea placeholder="Give Me Your Review!!"></ion-textarea>
          </ion-item>
    </form> -->
</ion-content>