
ion-card.service-list{
    font-size: 15px;
    color:black;
    // display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    transition: transform .5s;
    align-content: center;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    // margin-left: 10px;
}



// ion-card:hover{
//     transform: scale(1.2);
//     z-index: 5;
//     opacity: 0.5;
//     background-color:#d3d3d3;
// }

.service-list img{
    width: 50px;
    height: 50px;
    margin-left: 7%;
}
.service-list span{
    padding-top: 10px;
}

.card-background-page {
    ion-card {
        opacity: 0.5;
        width: auto;
        height: 70px;
      position: relative;
      text-align: center;
      
    }
    ion-card:hover{
        transform: scale(1.2);
        z-index: 5;
        opacity: 1;
        background-color:#d3d3d3;
    
    }
    
    .card-title {
        position: absolute;
        top: 39%;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: white;
      }
    
}

.card{
    background: map-get($colors, button);
    
}