<ion-header >
  <ion-navbar color="primary">
    <ion-title >
      User Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="myClass"align = "Center" padding="true">
 <b>User Information</b><br><br>
 
<span *ngFor="let detail of details ">
<ion-thumbnail item-start>
<img *ngIf="checkShop(detail.role)" class = "useravat" src="https://cdn1.iconfinder.com/data/icons/business-items/512/market_store_local_shop_cafe_commerce_retail_shopping_grocery_facade_fastfood_small_building_flat_design_icon-512.png">
<img *ngIf="!checkShop(detail.role)" class = "useravat" src="http://res.cloudinary.com/dhglhpsmu/image/upload/c_scale,w_166/v1524171287/man.png">

</ion-thumbnail>

<h2 class="name" > {{detail.name}} </h2>
<span>
<b *ngIf="checkShop(detail.role)"> {{ detail.shopType }}</b>
<b *ngIf="!checkShop(detail.role)"> {{ detail.role }}</b><br>
Ratings : {{ detail.ratings }} <br>
{{ detail.nearTown }}
 
</span>

<br> <br><br><br>
<button class="mybutton" *ngIf="!checkShop(detail.role)" (click)= "toWorkReqPage()" ion-button >
  Work Requests  
</button>

<button  (click)= "toRequestedWorkPage()" ion-button >
  Requested Works
</button>

<button  (click)= "tojobreq()" ion-button >
  Posted Jobs
</button>

<button  (click)= "toMyFeedbacks()" ion-button >
  My FeedBacks
</button>

<button *ngIf="checkShop(detail.role)" (click)= "toRequestedWorkPage()" ion-button >
   Order Requests
  </button>
</span>
<br><br>
<button  (click)= "signOut()" ion-button >
  Sign Out
 </button>
</ion-content>
