<ion-header >
    <ion-navbar color="primary">
      <ion-title>
        
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    
            <ion-list >

              <ion-item *ngFor="let user of userInfo" class="single-worker" (click)="toEmpPage(user._id);" >
                
                <ion-thumbnail item-start>
                  <img class="avatar" src="http://res.cloudinary.com/dhglhpsmu/image/upload/c_scale,w_166/v1524171287/man.png">
                </ion-thumbnail>
                <h2 class="name" >{{user.name}}  </h2> <img *ngIf="checkRate(user.ratings)" src="../../assets/imgs/like.png" alt="">
                <span class="rate" >
                  Ratings: {{user.ratings}}/10  <br>
                  {{ user.nearTown }}
                </span>
              </ion-item>

            </ion-list>
            <ion-fab (click)="toMapPage" class="fabMap" bottom right>
                <!-- <ion-label (click)="toMapPage" class="labelMap" >Click Here to Map view</ion-label> -->
                <button (click)="toMapPage()" ion-button round icon-start > <ion-icon name="map"></ion-icon>Map View</button>
              </ion-fab>
            
  </ion-content>
